* {
    box-sizing: border-box;
}

html, body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
} 

section {
    padding: 30px 15vw;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
} 

img {
    max-width: 100%;
} 

.header-container { 
    display: flex;
    gap: 20px;
    position: sticky;
    top: 0;
    font-size: 25px;
    background-color: rgb(20, 29, 64);
    color: white;
}

.link a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-right: auto;
    margin-left: 15vw;
}

.header-container .link:last-of-type {
    margin-right: 15vw;
}


/* first section*/
#first-section {
    background-color: linen;
} 

.main-info {
    border: indigo solid 3px;
    display: flex;
    justify-content: space-evenly;
}

.info {
    border: rgb(72, 72, 238) solid 3px; 
}

#header-img {
    flex: 1;
    max-width: 20vw;
    border: blue solid 6px;
}


/*second section*/
#second-section {
    background-color: beige;
}

.pics-container {
    border: red solid 3px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.illustration {
    border: green solid 3px;
}


/* third-section */
#third-section {
    background-color: bisque;
}

#quote {
    width: 80%;
    margin: auto;
    font-size: 35px;
    font-style: italic;
}

#author {
    width: 80%;
    font-size: 28px;
    text-align: right;
    margin: auto;
}


/* forth-section */
#forth-section {
    background-color: antiquewhite;
    padding: 20px;
}

.action-field {
    border: pink solid 3px;
    display: flex;
    justify-content: space-evenly;
}

.action-text {
    border: indigo solid 3px;
    
}

/* footer */
footer p {
    border: blue solid 3px;
    text-align: center;
}