

* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
} 

section {
    padding: 30px 15vw;
    margin: 0;
}

h1 {
    font-size: 40px;
    font-family: Helvetica, sans-serif;
}

h1 a {
    text-decoration: none;
    color:rgb(1, 7, 26);
}

h1 a:hover {
    color:rgb(10, 55, 86);
}

h2 {
    font-size: 30px;
    text-align: center;
} 

img {
    max-width: 100%;
} 

.header-container { 
    display: flex;
    gap: 20px;
    position: sticky;
    top: 0;
    font-size: 22px;
    background-color: rgb(20, 29, 64);
    color: white;
    padding: 10px 0;
}

.link a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-right: auto;
    margin-left: 15vw;
}

.header-container .link:last-of-type {
    margin-right: 15vw;
}


/* first section*/
#first-section {
    background-color: linen;
} 

.main-info { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

.info { 
    max-width: 40vw;
}

#header-img { 
    max-width: 20vw;
    border-radius: 18px;
} 


/*second section*/
#second-section {
    background: linear-gradient(90deg, rgb(253, 191, 201), rgb(87, 87, 237));
}

.pics-container { 
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.illustration img {
    border-radius: 15px;
}

.illustration p {
    text-align: center;
    font-size: 1.1rem;
    color:rgb(62, 62, 62);
}


/* third-section */
#third-section {
    background-color: linen;
}

#quote {
    width: 80%;
    margin: auto;
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
}

#author {
    width: 80%;
    font-size: 22px;
    font-weight: 800;
    text-align: right;
    margin: auto;
}


/* forth-section */
#forth-section {
    background-color: white;
    padding: 20px;
}

.action-field {
    background-color: rgb(110, 112, 228);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 15vw;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.action-text {
    color: #fff;
}

#action-button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(110, 112, 228);
    border: #fff solid 3px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 17px;
}

#action-button:hover {
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.6);
}

#action-button:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}



/* footer */
footer p { 
    background-color: rgb(20, 29, 64);
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px;
    font-weight: 100;
    font-size: 0.85rem;
}